/* add your css on this page */
body { 
    font-size: 100%;
    background-color: #8B4513;
    color: #000000;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}



article>section {
    margin: 2em;
}

#family {
    width: 78%;
    float: left;
}
p {
    text-align: center;
    font-size: 113%;
}

aside {
    margin-top: 5em;
    float: right;
    width: 15%;
    height: 190px;
    border-left: 2px solid #5146A4;
    padding: .3em;
    font: lighter 120%/130% "Brush Script MT", cursive;
    color: #8781B1;
}

aside p {
    float: right;
}

#work {
    clear: both;
}
#mod {
    clear:both;
}
#shop {
    clear:both;
}

article a:link {
    color: #8781B1;
}

.car {
    float:right;
    padding: 5px;

}
.left {
    float:left;
    padding: 5px;
    
}
.right {
    float:right;
    padding: 5px;
}

article a:visited {
    color: #564D94;
}

article a:hover, article a:focus {
    color: #6556C0;
    font-weight: bold;
}

img {
    border: darkgoldenrod 3px groove;
    padding: 2px;   
}
#wrap {
    float:left;
}
#clearwrap {
    clear:both;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}
.column {
  float: left;
  width: 22%;
  padding: 5px;
}
nav {
    position: static;
    right: 2em;
    top: 3em;
}

.navItem {
    color: darkgoldenrod;
    background-color: #D2B48C;
    padding: 1.3em;
    font-size: 1.8em;
    font-weight: bolder;
    text-decoration: none;
    margin: .2em;
}

#working {
    text-align: center;
}
.active {
    color: #716D88;
    text-shadow: -1px 1px 2px #0B0919;
}


h1 {
    text-align: center;
    padding-top: 1em;
}
h2 {
    text-align: left;
}
h3 {
    text-align:center;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #D2B48C;
  text-align: left;
  padding: 8px;
}
td.center {
vertical-align:center;
}

tr:nth-child(even) {
  background-color: #D2B48C;
}


footer{
    margin: .4em;
    color: darkgoldenrod;
    line-height: 2.5em;
    text-align: center;
    clear:both;
    background-color:#D2B48C;
}
