/*style sheet for main page. replicate for others with modifications. Don't forget the table*/


/*after trying to figure out all the formatting problems I'm about ready to burn the disk.....*/



* {
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
}

/* century gothic match if possible?*/

/*body styles, be careful of menu positioning*/

body{
    
    font-family: Franklin Gothic Medium, sans-serif;
    font-size: 100%;
    color: whitesmoke;
  
    margin: 0 auto;
    border: 3px solid #CEA6CE;
    background-color: #CEA6CE;
    
}

table{
    float: left;
    
    border: 3px solid black;
    
}


th, td {
    border: 1px solid black;
    padding: .3em;
    text-align: right;
    
}


a:focus, a:hover {
    font-style: italic;
}


article{
    
    float: left;
}




/*aside styles*/

aside{
    
    position:fixed;
    
    float: left;
    
    width: 20%;
    
}

figcaption{
    float: left;
    width: 20%;
}

figure{
    float: left;
}

/*seciton styles*/

section{
    float: right;
    text-align: left;
    width: 70%;
    background-color: #CEA6CE;
    padding: 5%;
    padding-bottom: 20%;
    padding-top: 0;
   
}

section img{
    float: right;
    padding: 1em;
}

/* menu styles */

#nav_menu{
    
    float: left;
    text-align: left;
}

#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	
    /*position: fixed; */
}

#nav_menu ul li {
	float: left;
}
#nav_menu ul li a {
    display: block;
    width: 160px;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #863C85;
    color: white;
    font-weight: bold;
}
#nav_menu a.current {
	color: #ACDEC5;
}
#nav_menu ul ul {
    display: none;
    position: fixed;
    top: 100%;
}
#nav_menu ul ul li {
	float: right;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}

/* header styles */

header{
    background-color: #D000CE;
    width: 100%;
    top: 0;
    position: relative;
    border: 3px solid #D000CE;
}

header h3{
   font-size: 90%;
}


header img{
    padding: 0 15px;
    
}

header figure{
    float: right;
    padding: 0em;
}

header figure img{
    float: right
}

header figure h3{
    float: left;
    padding: 1em;
}
/* footer styles*/

footer{
    background-color: #D000CE;
    width: 100%;
    bottom: 0;
    position: fixed;
    border: 3px solid #D000CE;
    float: none;
    
    
}

footer img{
    float: right;
    
}